<ol class="breadcrumb">
  <li>
    <%= link_to 'Home',root_path %>
  </li>
  <li>
    <%= link_to 'Members',users_path %>
  </li>
  <li class="active"><%= @user.gamertag %></li>
</ol>

<%= render 'form' %>