<ol class="breadcrumb">
  <li>
    <%= link_to 'Home',root_path %>
  </li>
  <li class="active">Strategy</li>
</ol>

<div class="list-group">
	<div class="list-group-item">
		<h2 class="list-group-item-heading">Defensive Zone Coverage</h4>
		<p class="list-group-item-text">
			dhjshfjs fdsjkfdsf dsf ds f dsf ds fdsfdsfds
		</p>
	</div>
</div>