<ol class="breadcrumb">
	<li>
		<%= link_to 'Home',root_path %>
	</li>
	<li class="active">Strategy</li>
</ol>

<div class="list-group">

	<div class="list-group-item active">

		<h3 class="list-group-heading">Strategy</h3>

	</div>

	<div class="list-group-item">

		<ul class="nav nav-pills">
			<li role="presentation"><a href="strategy/breakout">Breakout</a></li>
			<li role="presentation"><a href="strategy/entry">Entry</a></li>
			<li role="presentation"><a href="strategy/forecheck">Forecheck</a></li>
			<li role="presentation"><a href="strategy/powerplay">Powerplay</a></li>
			<li role="presentation"><a href="strategy/odd-man-rush">Odd Man Rush</a></li>
		</ul>

	</div>

</div>