<h2>New Round</h2>
<form name="round_form" ng:submit="roundForm()">

	<input type="hidden" name="course_id" required ng:model="round.course_id" />
	
	<div class="form-group" ng:class="{'has-error':round_form.course_id.$error.required && submitted}">

		<label>Course:</label><span class="text-muted" ng:if="isLoading">&nbsp;Loading...</span>

		<accordion ng:if="selectedCourse">
			<accordion-group is-open="true" is-disabled="true">
				<accordion-heading>
					{{selectedCourse.name}}
					<a href="" class="pull-right text-danger" ng:click="removeCourse()"><span class="glyphicon glyphicon-remove"></span></a>
				</accordion-heading>
				<div class="text-muted">
					{{selectedCourse.name}}<br>
					{{selectedCourse.address}}<br>
					{{selectedCourse.city}}, {{selectedCourse.state}}, {{selectedCourse.country}}<br>
					{{selectedCourse.zip}}
				</div>
			</accordion-group>
		</accordion>

		<script type="text/ng-template" id="round_popup.html">
			<a>
				<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
				<div class="subtitle text-muted">{{match.model.city}}, {{match.model.state}}</div>
			</a>
		</script>

		<input type="text" placeholder="Search Courses" name="course" ng:model="course" class="form-control" typeahead="course as course.name for course in getLocation($viewValue)" typeahead-loading="isLoading" typeahead-on-select="setCourse(course)" typeahead-editable="false" typeahead-template-url="round_popup.html" />

		<alert type="danger sm" ng:if="round_form.course_id.$error.required && submitted">Please select a course.</alert>

	</div>

	<div class="form-group" ng:if="selectedCourse">

		<label>Tee:</label>
		<select class="form-control capitalize" ng:model="round.scorecard_id" ng:init="round.scorecard_id = selectedCourse.scorecard_templates[0].id">
			<option ng:repeat="scorecard in selectedCourse.scorecard_templates" value="{{scorecard.id}}">{{scorecard.tee}}</option>
		</select>

	</div>

	<div class="form-group" ng:class="{'has-error':round_form.start_date.$error.required && submitted}">

		<div><label>Date:</label></div>
		<div class="row">
			<div class="col-md-6">
				<p class="input-group">
					<input type="text" name="start_date" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng:model="round.start_date" is-open="opened" show-weeks="false" required readonly placeholder="" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>

		<alert type="danger sm" ng:if="round_form.start_date.$error.required && submitted">Please select a date.</alert>

	</div>

	<div class="clearfix">
		<button class="btn btn-default btn-sm">Submit</button>
		<a href="" class="btn btn-danger btn-sm pull-right" ng:click="close()">Cancel</a>
	</div>

</form>